<%- include('templates/header'); -%>
<body style="background-color: #f8f8f8">
  

    <div class="container-fluid" style="background-color: #f8f8f8">
        <div class="row text-center">
            <h1 class="p-2 mt-5">Tutorial da montagem</h1>
        
        <div class="text-center text-break mt-3">
            <p>Uma boa montagem é aquela simples e sem frescura. Para isso, dispnibilizamos um vídeo que vai te ensinar passo a passo de como montar seu computador de forma rapida e eficaz</p>
        </div>
        <div class="text-center mt-3">
          <iframe id="video" src="https://www.youtube.com/embed/VkIb0myHbe0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>





    <div class="container-fluid pt-3 pb-5" style="background-color: #f8f8f8 ;">
      <div class="row pt-5 pe-5 ps-5">
            <h1 class="text-center display-5 p-5">Passo a passo</h1>

          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">Processador</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/chip.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break"> 
              <b>1° passo:</b> Abra o soquete da placa mãe. Passe uma gota de pasta térmica no centro da superficie plana do processador e coloque-o no soquete. Após isso, feche-o e coloque o cooler especifico do processador em cima, basta fixar os quato parafusos e plugala na placa.
            </p>
          </div>
          </div>

          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">Memória RAM</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/ram.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break">
              <b>2°Passo:</b> A placa mãe possui quatros slots para memória ram, abra os slots, posiciones suas memórias e precione para que fiquem fixadas.
            </p>
          </div>
          </div>

          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">SSD</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/ssd-drive.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break"><b>3° Passo:</b> Na placa mãe tem um slot especifico para o SSD, posicione em seu slot e precisone para prender</p>
          </div>
          </div>
          </div>

          <div class="row ps-5 pe-5">
          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">Gabinete</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/hardware.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break"> <b>4° Passo:</b> Abra a parte lateral do gabinete para poder prender as peças nele. Após terminar a montage feche a lateral.</p>
          </div>
          </div>

          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">Placa mãe</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/motherboard.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break">
              <b>5° passo:</b> Posicione a placa mãe dentro do gabinete e use os parafusos que vem com ela para fixa-la nele. Após isso, pelo lado de fora fixe a lamina traseira da placa mãe. </p>
          </div>
          </div>

          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">Fonte</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/power-supply.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break"><b>6° Passo:</b> Posicione a fonte no local pré definido do gabinete e fixe com os parafusos. Após isso, conecte seu fio no plugin da placa mãe.</p>
          </div>
          </div>
          </div>

          <!------>
          <div class="row ps-5 pe-5">

          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">Placa de video</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/gpu.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break"><b>7° Passo:</b> Fixe a plca de vídeo com seus parafusos no gabinete. Após isso, conecte por meio de seu cabo com a placa mãe.</p>
          </div>
          </div>

          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">Cooler</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/fan.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break"><b>8° Passo:</b> Fixe os coolers com seus parafusos na lateral do gabinete e conecte seus cabos na placa-mãe.</p>
          </div>
          </div>

          <div class="col-12 col-md-3 m-3 text-center mx-auto rounded" style="background-color: #fff ; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
            <h2 class="display-5 pt-1">Periféricos</h2>
          <div><img width="60%" class="img-fluid p-5" src="/images/computer.png" alt="" srcset=""></div>
          <div style="width:60%; margin-left: 20%;">
            <p id="paragrafos" class="text-break"><b>9° Passo:</b> Conecte os cabos dos periféricos na lamina trazeira da placa mãe.</p>
          </div>
          </div>
<!---->
          <p class="text-center mt-5">Para organizar melhor os fios dentro do gabinete, junte-os e prenda com presilhas.</p>   
          
           <div class="row">
              <div class="col-12 text-center"><a href="/compatibilidade"><button type="button" class="btn btn-dark ms-4 mt-3 mb-5 px-5 p-3">Monte agora sua propria configuração</button></a></div>
           </div>
          </div>
    </div>
    <%- include('templates/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>
</html>