<!--Footer-->
<footer class="text-center text-white bg1-footer pt-3" style="bottom: 0px;">
    <div class="text-center p-2 bg2-footer" style="background-color: #000;">
        ©Tamc.com
    </div>
</footer>
<!--/Footer-->